NEXT_PUBLIC_SITE_URL=

# Wompi
NEXT_PUBLIC_WOMPI_PUBLIC_KEY=
WOMPI_INTEGRITY_SECRET=
WOMPI_EVENTS_SECRET=

# Addi
ADDI_CLIENT_ID=
ADDI_CLIENT_SECRET=
ADDI_ALLY_SLUG=
ADDI_ENV=sandbox

# Contacto
NEXT_PUBLIC_WHATSAPP_NUMBER=
